<%= form_tag sessions_path, :class => "form-horizontal" do %>
  <div class="control-group">
    <%= label_tag :username, "Brukernavn" %>
    <div id="" class="controls">
      
    </div><!-- / -->
    <%= text_field_tag :username, params[:username] %>
  </div>
  <div class="field">
    <%= label_tag :password, "Passord" %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <%= label_tag :remember_me, "Husk meg" %>
  </div>
  <div class="actions"><%= submit_tag "Logg inn", :class => "btn btn-primary" %></div>
<% end %>