<h1><%= t(".participants") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Event.human_attribute_name("title") %></th>
      <th><%= t(".participants") %></th>
      <th><%= t(:actions) %></th>
    </tr>
  </thead>

<% @events.each do |event| %>
    <tr>
      <td><%= link_to event.title, replies_event_path(event) %></td>
      <td><%= event.replies_count ? event.replies_count : 0  %>/<%= event.max_att %>
      </td>
      <td>
        <%= link_to t(:show), replies_event_path(event), class: "btn btn-mini" %>
        <%= link_to '<i class="icon-download-alt icon-large"></i>'.html_safe, replies_event_path(event, format: "xls"), class: "btn btn-mini", title: t(".export") if (event.replies_count && event.replies_count > 0) %>
        <%#= link_to 'Export to csv', replies_event_path(event, format: "csv") %> </td>
    </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Reply', new_reply_path %>
