<h1>Brukere</h1>
<table class="table table-striped" >
  <tr>
    <th>Brukernavn
    <th>Email
    <th>
    <th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %>
    <td><%= user.email %>
    <td>
      <%= link_to 'Rediger', edit_user_path(user) %>
      <%= link_to 'Slett', user, confirm: 'Er du sikker?', method: :delete %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny bruker', new_user_path, :class => 'btn btn-primary' %>
