<h1>Rediger påmelding</h1>
<%= render 'form' %>

<div class="addFields">
	<h2>Felt</h2>

	<%= render "add_element" %>

	<!-- <ul id="fields" > -->
	<table>
	<!-- 	<thead>
			<tr>
				<th>header</th>
			</tr>
		</thead> -->
		<tbody>
			
		
		<% if @event.fields == nil  %>

			<p class="well" >Det er ikke laget noen felt enda.</p>

		<% else %>

			<% @event.fields.each do |field| %>
				<tr>
					<td><%= field.field_label %>
					<td><%= field.required %>
					<td><%= FieldType.find(field.field_type_id).title %>
					<td><%= link_to "Rediger", edit_event_field_path(@event, field) %>
					<td><%= link_to 'Slett', [@event, field] , confirm: 'Er du sikker?', method: :delete %>
				</tr>
					
			<% end %>

		<% end %>
		</tbody>
	</table>
	<!-- </ul> -->

	<%= render "add_element" %>


  <% #foreach($thisForm->getPopulatedFields($thisForm->id)as $field): %>
    <% #newField($thisForm->id, true, $field); %>
    <% #end %> 