<h1><%= @event.title %> <small class="toggle-basic">Rediger info</small></h1> 
	<div class="edit-form">
		<%= render 'form' %>
	</div>

<div class="fields-container">
	<h2>Rediger felt</h2>

	<%= render "add_element" %>

	<ol id="fields" >
	
		<% if @event.fields == nil  %>

			<p class="well">Det er ikke laget noen felt enda.</p>

		<% else %>

			<% @event.fields.order(:field_order).each do |field| %>
				<%= render_field(@event, field) %>
			<% end %>

		<% end %>

	</ol>

	<%= render "add_element" %>

</div>

<div class="modal" id="delete-modal" style="display:none">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Er du sikker på du vil slette elementet?</p>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Avbryt</a>
    <a href="#delete-confirm" class="btn btn-primary delete-confirm">Slett element</a>
  </div>
</div>