<h1>Påmeldinger</h1>


<table class="table table-striped" >
  <thead>
    <th><%= Event.human_attribute_name("title") %>
    <th><%= Event.human_attribute_name("description") %>
    <th><%= Event.human_attribute_name("max_att") %>
    <th><%= t :enrollment_window %>
    <th><%= t :actions %>
  </thead>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, edit_event_path(event) %>
    <td><%= event.description.html_safe %>
    <td><%= event.max_att %>
    <td><%= event.start_date.strftime("%d. %b %Y") %> - <%= event.end_date.strftime("%d. %b %Y") %>
    <td>
      <%= link_to t(:edit), edit_event_path(event), :class => 'btn btn-mini'%>
      <%= link_to 'Embed', embed_event_path(event), :class => 'btn btn-mini'%>
      <%= link_to t(:delete), event, confirm: t(:delete_confirm), method: :delete,  :remote => true, :class => 'btn btn-mini btn-danger' %>
  </tr>
<% end %>
</table>
<%= link_to t(:new_model, model: Event.model_name.human.downcase), new_event_path, :class => 'btn btn-primary' %>
