<!DOCTYPE html>
<html>
<head>
  <title>Rubyreg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/redmond/jquery-ui.css">
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="public">

<div id="public-wrapper" class="png_bg">
  <div id="public-header">
    <a class="login-link" href="/login">Login</a>
    <h1><a href="/">RubyReg</a></h1>
    <!-- Logo (221px width) -->
    <!--  <a href="/index"><img id="logo" src="/resources/images/logo.png" alt="Simpla Admin logo" /></a>-->
  </div> <!-- End #public-top -->

  <div id="public-content">

	<%= render "layouts/alerts", locals: {notice => notice, alert => alert} %>

	<%= yield %>

  </div> <!-- End #public-content -->

</div> <!-- End #public-wrapper -->
<%= javascript_include_tag "application" %>
</body>
</html>
